 /* Carousel 100% Fullscreen */
        html, body {
        height:100%;
        margin:0;
        padding:0;
        }
        .carousel, .item, .active {
        height:100%;
        }
        .carousel-inner {
        height:100%;
        }
        .carousel {
        margin-bottom: 60px;
        }
        .carousel-caption {
        z-index: 10;
        }
        .carousel .item {
        background-color: #777;
        }
        .carousel .carousel-inner .bg {
        background-repeat:no-repeat;
        background-size:cover;
        }
        .bg1 {
              background-image: url('projectA/img1.jpg');
              background-size: cover;
              background-position: center;
       }
       .bg2 {
              background-image: url('projectA/img2.jpg');
              background-size: cover;
              background-position: center;
       }
       .bg3 {
              background-image: url('projectA/img3.jpg');
              background-size: cover;
              background-position: center;
       }
       .bg4 {
              background-image: url('projectA/img4.jpg');
              background-size: cover;
              background-position: center;
       }
       .bg5 {
              background-image: url('projectA/img5.jpg');
              background-size: cover;
              background-position: center;
       }
        /* .carousel .carousel-inner .bg1 {
        background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
        background-position: center top;
        }
        .carousel .carousel-inner .bg2 {
        background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
        background-position: center center;
        }
        .carousel .carousel-inner .bg3 {
        background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
        background-position: center bottom;
        } */

        /* Icon Buttons */
        .icon-button {
        position: fixed;
        width: 50px;
        height: 50px;
        font-size: 30px;
        z-index: 1000;
        transition: all 0.3s ease;
        }
        .icon-button:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: scale(1.1);
        }
        .icon-button.top-left {
        top: 20px;
        left: 20px;
        background-color: transparent;
        border: none;
        color: white;
        }
        .icon-button.bottom-right {
        bottom: 20px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        }
        /* Remove carousel control background */
        .carousel-control {
        background-image: none;
        background-color: transparent;
        }
        .carousel-control:hover {
        background-color: transparent;
        background-image: none;
        }
        .carousel-control.left, .carousel-control.right {
        background: none;
        }